@import "../../styles/variables.scss";
.menu {
	&__item {
		padding: 12px 16px;

		& a {
			display: inline-flex;
			align-items: center;

			& span {
				margin-right: 8px;
			}
		}
	}
}
li:has(> a.active) {
  background-color: $color-bg;
}