@import "../../styles/variables.scss";
.menu {
	&__item {
		padding: 0px 16px;
		height: 50px;
		&:hover{
				background-color: $color-bg;
			}
	

		& a {
			display: inline-flex;
			align-items: center;
			
			
			height: 100%;
			

			& span {
				margin-right: 8px;
			}
		}
	}
}
li:has(> a.active) {
  background-color: $color-bg;

}