@import "./styles/reset.css";
@import "./styles/variables.scss";

body {
	font-family: $font-roboto;
	font-size: 14px;
	color: $color-black;
	font-weight: 400;
	background-color: $color-bg;
}

a {
	color: $color-black;
}

span {
	transition: transform 0.3s;
	&.open {
		transform: rotate(180deg);
	}
}
